/** {
  outline: 1px solid red !important;
}*/
body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-color: black;
  background-position: initial initial;
  background-repeat: initial initial;
}

input {
  background-color: grey;
  font-size: 18px;
  background-position: initial initial;
  background-repeat: initial initial;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

.container {
  background-color: rgba(240, 60, 60, 0.8);
}